---
# tasks file for patching


- block:
  - name: Updating RedHat cache
    ansible.builtin.yum:
      update_cache: yes
  - name: Updating all RedHat packages
    ansible.builtin.yum:
      upgrade: dist
    register: "redhat_patching_result"
  rescue:
  - name: Updating Debian cache
    ansible.builtin.apt:
      update_cache: yes
  - name: Updating all Debian packages
    ansible.builtin.apt:
      upgrade: dist
    register: debian_patching_result
  always:
  - name: Check reboot file on RedHat
    ansible.builtin.stat:
      path: /var/run/reboot-required
    register: redhat_reboot_flag
    when: ansible_facts.os_family == "RedHat"
  - name: Check reboot file on Debian
    ansible.builtin.stat:
      path: /var/run/reboot-required
    register: debian_reboot_flag
    when: ansible_facts.os_family == "Debian"
  - name: Setting patch reboot flag
    ansible.builtin.set_fact:
      patch_reboot_required: true
    when: vars[ansible_facts.os_family | lower + '_reboot_flag'].stat.exists | default(false)
    notify: Rebooting system after patching if required