---
# tasks file for postcheck

- name: Capture new kernel version
  ansible.builtin.command:
    cmd: uname -r
  register: kernel_version_after_patching
- name: Record uptime after patching
  ansible.builtin.command: 
    cmd: uptime -p
  register: uptime_info_after_patching
- name: Capturing service facts after patching
  ansible.builtin.service_facts:
- name: Checking if the services are running
  ansible.builtin.debug:
    msg: "{{ item }} service status after patching is: {{ ansible_facts.services[item + '.service'].state | default('Not Installed') }}"
  with_list: "{{services}}"